body{font-family:'Microsoft Yahei';background:#ddd;min-height:100%;}
html,body{height:100%;min-width: 1000px;min-height: 1000px;}
.active_img {
    opacity:1;
}
.head_nav {
    height: 7%;
    width: 100%;
    position: relative;
    background: #e8e3e3;
}
.ugc_header {
    width: 56.25%;
    margin: auto;
    position: relative;
    top: 40%;
}
.ugc_header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style:none;
    width: 35%;
    float: left;
    height: 2.9rem;
    line-height: 2.9rem;
    margin-left:4rem;
}
.ugc_header ul li{
    font-size: 1.5rem;
    list-style: none;
    display: inline-block;
    width: 30%;
    text-align: center;
    cursor: pointer;
}
.ugc_header ul li a{
    color: #272727;
}

.body_container {
    height: 100%;
    width: 100%;
}
.logo {
    display: inline-block;
    padding-left: 5%;
    height: 90%;
    margin-top: 0.2%;
    width: 10%;
}

.active {
    border-bottom: 2px solid #e27a3f;
}
.active_button {
    border-bottom: 5px solid #0095c6;
    width:120%;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.ugc_con {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.ugc_user {
    line-height: 2rem;
    width: 50%;
    margin: 0 15%;
    height: 5%;
    height: 2.9rem;
    color: #666;
    position: relative;
    left: 25rem;
}
.ugc_index_mod {
    position: relative;
    height: 95%;
    width: 90%;
    margin:1% auto;
    color:#F2F2F2;
}

.ugc_box {
    text-align: center;
    margin:auto;
    width: 75%;
    position:relative;
}
.ugc_user .user {
    float: right;
    cursor: pointer;
    font-size: 1.25rem;
    margin-top: -0.5rem;
    width: 15rem;
}
.ugc_user .user a {
    color: #666;
    font-size: 1.25rem;
}
.ugc_user .quit {
    float: left;
    color: #666;
}
.ugc_user .score {
    float: right;
    margin-right: 40%;
    color: #666;
    margin-top:-0.5rem;
}
.user_text {
    width: 6rem;
    float: left;
}
.user_avatar {
    width: 6rem;
    float: left;
}
.mod_row_title{
    display: inline-block;
    width: 100%;
    height: 3.125rem;
    font-size: 1.5rem;
    background: rgba(8,8,8,0.3);
    margin-top: 20.625rem;
    color: #f2f2f2;
    line-height: 3.125rem;
}
.mod_row {
    height:23.75rem;
    width:42.5rem;
    margin:1rem auto;b
    color:#F2F2F2;
    font-size:1.5rem;'
}

.footer {
    width: 100%;
    background:rgba(0,0,0,0.6);
}
.fixed_bottom {
    width: 100%;
}
.footer_fixed_bottom {
    bottom:0;
    position: absolute;
}
/*footer显示区域*/
.footer .box {
    position: relative;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

/*底部logo显示，可有可无*/
.footer .box .logo {
    display: block;
    position: absolute;
    top: 0;
    left: auto;
    right: 0.3rem;
    bottom: 0;
    margin: auto 0;
    width: 0.83rem;
    height: 0.82rem;
    background: url('#');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.83rem 0.82rem;
}
/*内容显示*/
.footer .box .content {
    position: relative;
    overflow: hidden;
    width: calc(100% - 60 * 0.01rem - 83 * 0.01rem);
    height: 100%;
    padding: 0.2rem 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.footer .box .content ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style:none;
    height: 2rem;
    line-height: 2rem;
    width: 100%;
}
.footer .box .content ul li{
    display: inline-block;
    width: 15rem;
    color: white;
}

.footer .box .content p {
    margin-bottom: 0.05rem;
    text-align: center;
    font-size: 0;
}
/*最后一个子元素*/
.footer .box .content p:last-child {
    margin: 0;
}

.footer .box .content p a, .footer .box .content p span {
    display: inline-block;
    text-align: center;
    line-height: 2rem;
    color: #ffffff;
    font-size: 1rem;
}

.footer .box .content p a {
    padding: 0 0.05rem;
    text-indent: 0.02rem;
    letter-spacing: 0.02rem;
}

.footer .box .content p a:hover {
    color: #42ad46;
}

.footer .box .content p a:hover span {
    color: #42ad46;
}

.footer .box .content p a.m {
    text-indent: 0rem;
    letter-spacing: 0rem;
    padding: 0 0.08rem;
}

.footer .box .content p a span {
    text-indent: 0rem;
    letter-spacing: 0rem;
}

.footer .box .content p > span {
    padding: 0 0.05rem;
}
/* 登录 */
.form_input {
    position: absolute;
    top:35%;
    left: 40%;
}
.user_error,.pwd_error{color:#f00;position:relative;display:none;}
.name_input,.pass_input{display:block;width:20rem;height:3rem;border:1px solid #e0e0e0;font-size:1rem;margin-bottom:0.5rem;}
.pass_input{top:65px;background-position:280px -95px;}
.more_input{position:relative; width:100%;}

.more_input input{float:left;height:1.3rem;line-height:1.3rem;}
.more_input label{float:left;margin-left:10px;}
.more_input a{float:right;color:#666}
.more_input a:hover{color:#ff8800}

.input_submit{
    width: 100%;
    height: 2.2rem;
    position: relative;
    left: 0;
    top: 0.2rem;
    background-color: #47aa34;
    color: #fff;
    font-size: 22px;
    border: 0px;
    margin: 0.5rem 0rem;
    cursor: pointer;
}
/* 注册 */
.register {
    position: absolute;
    top:35%;
    left: 40%;
}
.register ul li input {
    height: 2rem;
    width: 15rem;
    margin: 0.2rem 0;
    border:1px solid #e0e0e0;
    outline:none;
    text-indent:10px;
    background-color:#f8f8f8;
}
.register ul li label {
    display: inline-block;
    width: 5rem;
}
.register .agreement {
    margin: 0.3rem 0;
    position:relative;
    width:100%;
    height: 1rem;
}
.register li.agreement #allow {
    height: 1rem;
    width: 1rem;
    line-height: 1rem;
    margin-right:1rem;
    display: inline-block;
}
.register li.agreement label {
    float: left;
    width: 20rem;
    line-height: 1.5rem;
    display: inline-block;
}
.register li.agreement input {
    float:left;
}
.register li.reg_sub {
    display: inline-block;
    width:100%;
    margin-top:0.3rem;
}
.register li.reg_sub input {
    width: 20.5rem;
    background-color:#06ec82;
}
.register .error_tip {
    display: none;
    color: red;
}
.register .error_tip2 {
    display: none;
    color: red;
}

/* mod列表分页*/
.ugc_box table{
    margin: auto;
    width: 80%;
}
.ugc_box table tr{
    width: 100%;
    height:3rem;
    line-height: 3rem;
    text-align: left;
}
.ugc_box .mod_select{
    position: absolute;
    width: 100%;
    bottom: 0.6rem;
    text-align: center;
}
.page_select span{
    cursor: pointer;
    display: inline-block;
    margin-left:10px;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #eee;
}
.page_select{
    margin:auto 20px;
}
.page_select, .page_select_button {
    cursor: pointer;
    display: none;
}
