{% extends "password_reset/base.html" %}{% load i18n %}

{% block title %}{% trans "New password set" %}{% endblock %}

{% block content %}
	<div class="reset_password">重置密码</div>
    <hr class="reset_password_hr">
    <div class="reset_process">
        <ul>
            <li>
                <span class="reset_one_circle">
                    <span class="reset_num">1</span>
                </span>
                <span>验证身份</span>
                <span>——&nbsp;</span>
            </li>
            <li>
                <span class="reset_one_circle">
                    <span class="reset_num">2</span>
                </span>
                <span>设置密码</span>
                <span>——&nbsp;</span>
            </li>
            <li>
                <span class="reset_one_circle active_circle">
                    <span class="reset_num active_circle_num">3</span>
                </span>
                <span style="color:#0095c6;">设置成功</span>
            </li>
        </ul>
    </div>
	<p class="reset_successful">{% trans "Your password has successfully been reset. You can use it right now on the login page." %}</p>
{% endblock %}
