{% extends 'base.html' %}
{% load static %}
{% block topfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/authenticate_password.css'%}">
{% endblock %}
{% block body %}
    <div class="authenticate_box">
        <input type="password" placeholder="请输入服务器密码" id="authenticate_password"/>
    </div>
    <div class="button_box">
        <button type="button" id="confirm" class="authenticate_button">确认</button>
        <button type="button" id="cancel" class="authenticate_button">取消</button>
    </div>
{% endblock %}
{% block bottomfiles %}
    <script type="text/javascript" src="{% static 'js/authenticate_password.js' %}"></script>
{% endblock %}
