{% extends 'base.html' %}
{% load static %}
{% block topfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/change_server_password.css'%}">
{% endblock %}
{% block body %}
    <input type="hidden" value="{{ server_id }}" id="server_id">
    <div class="change_password_box">
        <input type="password" class="password" id="password1" required placeholder="新密码"><br>
        <input type="password" class="password" id="password2" required placeholder="确认(新密码)">
    </div>
    <div class="button_box">
        <button type="button" id="confirm" class="change_button">确认</button>
        <button type="button" id="cancel" class="change_button">取消</button>
    </div>
{% endblock %}
{% block bottomfiles %}
    <script type="text/javascript" src="{% static 'js/change_server_password.js' %}"></script>
{% endblock %}
