{% extends "ugc_base.html" %}
{% load static %}
{% block topfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_center.css'%}">
{% endblock topfiles %}
{% block body %}
{% if request.user.is_authenticated %}
	<div class="reset_password">修改密码</div>
    <hr class="reset_password_hr">
    <div class="reset_process">
        <ul>
            <li>
                <span class="reset_one_circle">
                    <span class="reset_num">1</span>
                </span>
                <span>验证身份</span>
                <span>——&nbsp;</span>
            </li>
            <li>
                <span class="reset_one_circle">
                    <span class="reset_num">2</span>
                </span>
                <span>设置密码</span>
                <span>——&nbsp;</span>
            </li>
            <li>
                <span class="reset_one_circle active_circle">
                    <span class="reset_num active_circle_num">3</span>
                </span>
                <span style="color:#0095c6;">设置成功</span>
            </li>
        </ul>
    </div>
	<div class="change_password_success">
        密码修改成功
	</div>
{% endif %}
{% endblock %}
{% block footer %}
    <footer class="footer" hidden></footer>
{% endblock %}
<!-- 网页底部引入文件块 -->
{% block bottomfiles %}
    <script type="text/javascript" src="{% static 'js/user_center.js' %}"></script>
{% endblock bottomfiles%}