{% extends 'base.html' %}
{% load static %}
{% block title %}北京第零世界科技有限公司{% endblock title %}

{% block body %}
<div class="body">

    <div>
        <form>
            名称<br>
            <input type="text" id="server_name">
            选择规格套餐<br>
            <input type="radio", id="category">
            选择租赁时长<br>
            <input type="radio" id="rent_time">
            租赁至： 到期日期
            <input type="radio"><a href="#">同意&lt;&lt;xxx协议&gt;&gt;</a>
            <input type="submit" value="积分获得">
            <input type="submit" value="￥购买">
        </form>

    </div>
</div>
{% endblock body %}