{% extends 'ugc_base.html' %}
{% load static %}
{% block title %}北京第零世界科技有限公司{% endblock title %}
{% block topfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/server.css'%}">
{% endblock topfiles %}
{% block body %}
    <div class="rent_server">
        <div class="rent_server_head">
            <span>您当前位置: <a href="/ugc_server/ugc_server" style="color:#0095c6;">服务器</a>&nbsp;&gt;租赁新服务器</span>
        </div>
        <div class="rent_server_box">
            <div class="box_left">
                <div class="box_left_format">
                    <div class="server_name_text" id="server_name_text"><span>名称</span></div>
                    <div><input type="text" id="server_name" class="server_name" placeholder="请输入服务器名称"></div>
                    <div class="server_setting" id="server_setting"><span>服务器设置</span></div>
                    <div class="setting_box">
                        <div>私密:
                            <label for="is_private">
                                <input type="checkbox" name="is_private" id="is_private" class="is_private" hidden>
                                <div class="switch_box">
                                    <div class="switch_inner"></div>
                                    <span class="switch_on">ON</span>
                                    <span class="switch_off">OFF</span>
                                </div>
                            </label>
                        </div>
                        <div>密码:<input type="text" class="password" id="password" placeholder="8-14位，建议英文+数字"></div>
                    </div>
                    <div class="server_max_player"><span>选择服务器人数</span></div>
                    <div class="server_package">
                        <label for="ten_radio">
                            <input type="radio" name="package" id="ten_radio" class="package_radio" value="10" hidden>
                            <span class="package_text">10人</span>
                        </label>
                        <label for="twenty_radio">
                            <input type="radio" name="package" id="twenty_radio" class="package_radio" value="20" hidden>
                            <span class="package_text">20人</span>
                        </label>
                        <label for="forty_radio">
                            <input type="radio" name="package" id="forty_radio" class="package_radio" value="40" hidden>
                            <span class="package_text">40人</span>
                        </label>
                    </div>
                    <div class="rent_time_text"><span>选择租赁时长</span></div>
                    <div class="server_rent_time">
                        <label for="thirty_day">
                            <input type="radio" name="rent_time" id="thirty_day" value="30" class="rent_time_radio" hidden>
                            <span class="rent_time_day">30天</span>
                        </label>
                        <label for="sixty_day">
                            <input type="radio" name="rent_time" id="sixty_day" value="60" class="rent_time_radio" hidden>
                            <span class="rent_time_day">60天</span>
                        </label>
                        <label for="ninety_day">
                            <input type="radio" name="rent_time" id="ninety_day" value="90" class="rent_time_radio" hidden>
                            <span class="rent_time_day">90天</span>
                        </label>
                        <label for="half_year">
                            <input type="radio" name="rent_time" id="half_year" value="180" class="rent_time_radio" hidden>
                            <span class="rent_time_day">180天</span>
                        </label>
                        <label for="one_year">
                            <input type="radio" name="rent_time" id="one_year" value="360" class="rent_time_radio" hidden>
                            <span class="rent_time_day">360天</span>
                        </label>
                    </div>
                    <div class="rent_time_deadline">租赁时间： <span id="deadline"></span></div>
                </div>
            </div>

            <div class="box_right">
                <div class="box_right_format">
                    <div class="pay_way">
                        <ul>
                            <li class="weChat_pay pay_activate_li" id="weChat_pay"><span>微信支付</span></li>
                            <li class="score_pay" id="score_pay"><span>积分支付</span></li>
                        </ul>
                    </div>
                    <hr class="pay_hr">
                    <div class="amount" id="amount">
                        <img src="{% static 'img/weChat_pay.png' %}" hidden>
                        <span class="weChat_pay_text">微信扫码支付<span id="money"></span>元</span>
                    </div>
                    <button type="button" class="pay_button" id="pay_button">支付</button>
                    <div class="agree_box">
                        <label id="agree_label" for="agree">
                            <input type="checkbox" name="agree" id="agree">
                        </label>
                        同意&nbsp;<a href="#" style="color:#0095c6;">&lt;&lt;从零开始游戏服务器租赁协议&gt;&gt;</a><br>
                    </div>
                    <div>
                        <input type="hidden" value="1" id="pay_way_hidden">
                        <input type="hidden" value="{{ request.user.id }}" id="user_id">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block footer %}
    <footer class="footer"></footer>
{% endblock footer %}
<!-- 网页底部引入文件块 -->
{% block bottomfiles %}
    <script type="text/javascript" src="{% static 'js/create_server.js' %}"></script>
{% endblock bottomfiles%}