<!DOCTYPE html>
<html lang="zh-CN">
{% load static %}
<head>
    <meta charset="utf-8">
    <title>北京第零世界科技有限公司</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- Link Swiper's CSS -->
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/swiper.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-table.min.css'%}">
    <!--2020.04.04全国抗击疫情哀悼日灰色背景-->
    <style>
        .gray{
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
            _filter: none;
        }
    </style>
    <!-- Demo styles -->
</head>
<body>

    <!--网页顶部导航块-->
    <div class="head_nav">
            <div class="logo"><img src="{% static 'img/baymax.jpg' %}" alt="logo" height="100%"></div>
            <div class="title_link">
                <ul>
                    <li class="li"><a href="/home/index#index" class="active" id="index">首页</a></li>
                    <li class="li"><a href="/home/index#ugc" id="ugc">UGC中心</a></li>
                    <li class="li"><a href="/home/index#contact" id="contact">联系我们</a></li>
                    <li class="li filling"><a href="/home/index#download" id="download">下载</a></li>
                </ul>
                <div class="hide_title"><img src="{% static 'img/baymax.jpg' %}" height="100%"></div>
            </div>
        </div>

    <!--最外层body很重要，对footer的绝对定位有重要作用，不然footer没有参考-->
    <div id="body_con" class="body_con">
        <!--网页主题内容-->
        <div class="body_container">
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-hash="index">
                        <div id="game_video" class="game_video">
                            <div id="video_content" class="video_content">
                            <video id="display_video" style="height:100%;width:100%;object-fit:fill" preload="auto">
                                <source src="{% static 'img/test.ogg'%}" type="video/mp4">
                                您的浏览器不支持video标签</video></div>
                            <div id="download_right_now" class="download_right_now" onclick="download()">立即下载</div>
                            <div id="download_overflow" class="download_overflow">
                                <div id="download_close" class="download_close" onclick="download_close()">关闭</div>
                                <div class="download_way">
                                    <ul>
                                        <li>请选择下载方式</li>
                                        <li><a href="#"> 端游下载</a></li>
                                        <li><a href="#"> 安卓下载</a></li>
                                    </ul>
                                </div>
                            </div>
<!--                            <div id="download_close" class="download_close" onclick="download_close()">关闭</div>-->
                            <div id="play_pause" class="play_pause" onclick="playPause()">| |</div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-hash="ugc">
                        <div class="ugc_con">
                            <div id="ugc_header" class="ugc_header">
                                <ul>
                                    <li id="ugc_index" class="ugc_index">
                                        <a href="/home/index#ugc_index">首页</a></li>
                                    <li id="ugc_mod" class="ugc_mod">
                                        <a href="/home/index#ugc_mod">MOD</a></li>
                                    <li id="ugc_server" class="ugc_server">
                                        <a href="/home/index#ugc_server">服务器</a></li>
                                </ul>
                        </div>

                            <div class="swiper-ugc">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" data-hash="ugc_index">
                                    <div id="swiper_con" class="swiper_con ">
                                        <div id="index_user" class="ugc_user">
                                            {% if request.user.is_authenticated %}
                                                <div class="user">{{ request.user }}
                                                    <a href='/ugc_home/user_quit'><span style="font-size:14px;">退出</span></a>
                                                </div>
                                                <div id="score" class="score">积分</div>
                                            {% else %}
                                                <div id="user" class="user"><a href="/ugc_home/login"> 登录</a>|
                                                <a href="/ugc_home/register"> 注册</a></div>

                                            {% endif %}
                                        </div>
                                        <div class="ugc_box">
                                            <div class="ugc_index_mod" id="ugc_index_mod">
                                                <table id="ugc_index_mod_table"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide" data-hash="ugc_mod">
                                    <div class="swiper_con">
                                        <div id="mod_user" class="ugc_user">
                                            {% if request.user.is_authenticated %}
                                                <div class="user" id="obtained">
                                                    <input type="hidden" id="user_id" value="{{ request.user.id }}">已获得</div>
                                                <div class="score" id="created" style="cursor:pointer;">我创建的</div>
                                            {% else %}
                                                <div class="user"><a href="/ugc_home/login">请登录</a>|
                                                <a href="/ugc_home/register"> 注册</a></div>
                                            {% endif %}
                                        </div>
                                        <div class="ugc_box" id="ugc_mod_mod">
                                            <table id="mod_table"></table>
                                            <div class="mod_select">
                                                <button id="prev">上一页</button>
                                                <div class="page_select" id="page_select">
                                                </div>
                                                <button id="next">下一页</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide" data-hash="ugc_server">
                                    <div class="swiper_con">
                                        {% if request.user.is_authenticated %}
                                            <div id="server_user" class="ugc_user">
                                                    <div class="user">创建租赁服</div>
                                            </div>
                                            <div class="ugc_box">
                                                您还未开通租赁服
                                            </div>
                                        {% else %}
                                            <div class="ugc_server">
                                                <div class="user"><a href="/ugc_home/login"> 登录</a>|
                                                <a href="/ugc_home/register"> 注册</a></div>
                                            </div>
                                            <div class="ugc_box">
                                                请登录
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-hash="contact">
                        <div class="contact_box">
                            <div class="community">
                            <h2 style="font-size:30px; text-align:left;">官方社区</h2>
                                <button type="button" id="official_community" class="community_button">点击进入官方社区</button>
                                <div class="matrix_code">
                                    <img src="{% static 'img/matrix_code.jpeg' %}" alt="official" height="65%">
                                    <font style="font-size:12px; display: block;text-align:center;">扫描二维码加入</font></div>
                            </div>
                            <div class="taptap">
                                <h2 style="font-size:30px;text-align:left">TapTap</h2>
                                <button type="button" id="taptap_community" class="community_button">点击进入官方社区</button>
                                <div class="matrix_code"><img src="{% static 'img/matrix_code.jpeg' %}" alt="taptap" height="65%">
                                    <font style="font-size:12px; display: block; text-align:center;">扫描二维码加入</font></div>
                            </div>
                            <div class="weibo">
                                <h2 style="font-size:30px;text-align:left">官方微博</h2>
                                <button type="button" id="weibo_community" class="community_button">点击进入官方社区</button>
                                <div class="matrix_code"><img src="{% static 'img/matrix_code.jpeg' %}" alt="weibo" height="65%">
                                    <font style="font-size:12px; display: block; text-align:center;">扫描二维码加入</font></div>
                            </div>
                            <div class="qq">
                                <h2 style="font-size:30px;text-align:left">官网qq群</h2>
                                <div class="qq_contact">
                                    <img src="{% static 'img/qq.jpg' %}" style="height:100%;float:left">
                                    <div class="qq_entry">
                                        656565656565(1群)&nbsp;&nbsp;<button type="button" id="qq_1" class="qq_talk">一键入群</button>
                                    </div>
                                </div><br>
                                <div class="qq_contact">
                                    <img src="{% static 'img/qq.jpg' %}" style="height:100%;float:left">
                                    <div class="qq_entry">
                                        656565656565(2群)&nbsp;&nbsp;<button type="button" id="qq_2" class="qq_talk">一键入群</button>
                                    </div>
                                </div><br>
                                <div class="qq_contact">
                                    <img src="{% static 'img/qq.jpg' %}" style="height:100%;float:left">
                                    <div class="qq_entry">
                                        656565656565(3群)&nbsp;&nbsp;<button type="button" id="qq_3" class="qq_talk">一键入群</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-hash="download">
                        <div class="download_way">
                            <ul>
                                <li>请选择下载方式</li>
                                <li><a href="#"> 端游下载</a></li>
                                <li><a href="#"> 安卓下载</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
            <!--页面底部滑入式页尾-->
            <div id="box_footer" class="box_footer">
                <footer id="footer" class="footer">
                    <div class="box">
                <div class="content">
                    <p><span>健康管理</span></p>
                    <ul>
                        <li class="li">抵制不良游戏</li>
                        <li class="li">拒绝盗版游戏</li>
                        <li class="li">注意自我保护</li>
                        <li class="li">谨防上当受骗</li>
                    </ul>
                    <ul>
                        <li class="li">适度游戏益脑</li>
                        <li class="li">沉迷游戏伤身</li>
                        <li class="li">合理安排时间</li>
                        <li class="li">享受健康生活</li>
                    </ul>
                    <p>
                        <a href="/home/supervisor" target="_blank">家长监护工程</a><span>|</span>
                        <a href="/home/dispute" target="_blank">纠纷处理</a>
                    </p>
                    <p><span>网络文化经营许可证： 京网文[2019]3669-352京ICP证: 京B2-20191828</span></p>
                    <p><span>京ICP备 19009550号 ©2019-2020 北京第零世界科技有限公司 版权所有</span></p>

                </div>
            </div>
                </footer>
            </div>
        </div>
    </div>
    <div id="bg_img" class="bg_img active_img"></div>
    <!-- Swiper JS -->
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/swiper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/swiper-nav-page.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/public.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mod.js' %}"></script>
</body>
</html>
