<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="SHORTCUT ICON" type="text/css" href="{% static 'img/favicon.ico' %}">
    <title>登录</title>
</head>
<body>
    <div class="form_input">
        <form action="" method="post">
            <input type="text" name="username" class="name_input" placeholder="请输入用户名/手机号">
            <div class="user_error">输入错误</div>
            <input type="password" name="pwd" class="pass_input" placeholder="请输入密码">
            <div class="pwd_error">输入错误</div>
            <div class="more_input clearfix">
                <input type="checkbox" name="remember">
                <label>记住用户名</label>
                <a href="{% url 'password_reset_recover' %}">忘记密码</a>
            </div>
            <input type="submit" name="" value="登录" class="input_submit">
        </form>
        还没有账户，<a href="/register" >点击注册</a>
        <div style="color:red;">{{ errmsg }}</div>
    </div>
</body>
</html>