{% extends 'ugc_base.html' %}
{% load static %}
{% block title %}北京第零世界科技有限公司{% endblock title %}
{% block topfiles %}

{% endblock topfiles %}
{% block body %}
    <div class="register_head">注册</div>
    <hr class="register_head_hr">
    <div class="register">
        <form method="post" action="">
            {% csrf_token %}
            <ul>
                <li>
                    <input type="text" name="username" id="username" placeholder="用户名(英文名不区分大小写)">
                    <span class="error_tip">提示信息</span>
                </li>
                <li>
                    <input type="password" name="pwd" id="pwd" placeholder="密码(6-16个字符组成，区分大小写)">
                    <span class="error_tip">提示信息</span>
                </li>
                <li>
                    <input type="password" name="cpwd" id="cpwd" placeholder="确认密码">
                    <span class="error_tip">提示信息</span>
                </li>
                <li>
                    <input type="text" name="identity" id="identity" placeholder="身份证号">
                    <span class="error_tip">提示信息</span>
                </li>
                <li>
                    <input type="text" name="name" id="name" placeholder="真实姓名">
                    <span class="error_tip">提示信息</span>
                </li>
                <li>
                    <input type="text" name="email" id="email" placeholder="邮箱">
                    <span class="error_tip">提示信息</span>
                </li>
                <li>
                    <input type="text" name="phone" id="phone" placeholder="手机号">
                    <span class="error_tip">提示信息</span>
                </li>
                <li class="agreement">
                    <label id="agree_label" for="agree">
                        <input type="checkbox" name="agree" id="agree">
                    </label>
                    我已同意<a href="#">&lt;&lt;第零世界UGC中心用户使用协议&gt;&gt;</a>
                    <span class="error_tip2">提示信息</span>
                </li>
                <li class="reg_sub">
                    <input type="submit" value="注 册" name="">
                </li>
            </ul>
        </form>
        <div class="go_login"><a href="/login">已有账号，直接登录></a></div>
        <input type="hidden" value="{{ errmsg }}" id="hidden_errmsg" name="hidden_errmsg">
<!--        <span id="">{{ errmsg }}</span>-->
    </div>
{% endblock body %}
{% block footer %}
    <footer class="footer" hidden></footer>
{% endblock footer %}
<!-- 网页底部引入文件块 -->
{% block bottomfiles %}
<script type="text/javascript" src="{% static 'js/register.js'%} "></script>
{% endblock bottomfiles%}
