{% extends 'base.html' %}
{% load static %}
{% block topfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/purchase.css'%}">
{% endblock %}
{% block body %}
    <div class="purchase">
        确认支付<span id="pay_score">{{ score_purchase }}</span>积分?
        <div class="purchase_button">
            <button id="score_confirm">确认</button>
            <button id="score_cancel">取消</button>
        </div>
    </div>
{% endblock %}
{% block bottomfiles %}
    <script type="text/javascript" src="{% static 'js/purchase.js' %}"></script>
{% endblock %}