{% extends 'ugc_base.html' %}
{% load static %}
{% block title %}北京第零世界科技有限公司{% endblock title %}
{% block topfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/ugc_mod.css'%}">
{% endblock topfiles %}
{% block body %}
{% if request.user.is_authenticated %}
<div class="mod_top">
    <div class="obtained" id="obtained">
        <input type="hidden" id="user_id" value="{{ request.user.id }}">已获得</div>
    <div class="created" id="created" style="cursor:pointer;">我创建的</div>
</div>
{% endif %}
<div class="ugc_box" id="ugc_mod_mod">
    <table id="mod_table"></table>
    <div class="mod_select">
        <button id="prev" class="page_select_button">上一页</button>
        <div class="page_select" id="page_select">
        </div>
        <button id="next" class="page_select_button">下一页</button>
    </div>
</div>
{% endblock body %}
{% block bottomfiles %}
    <script type="text/javascript" src="{% static 'js/ugc_mod.js' %}"></script>
{% endblock bottomfiles%}