{% extends 'ugc_base.html' %}
{% load static %}
{% block title %}北京第零世界科技有限公司{% endblock title %}
{% block topfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/ugc_server.css'%}">
{% endblock topfiles %}
{% block body %}
{% if request.user.is_authenticated %}
    <div id="server_user" class="ugc_user">
        <div class="create_server_box">
            <a href="/ugc_server/create_server" class="create_server">创建新服务器</a>
        </div>
    </div>
    <div class="ugc_box">
        <div class="server_manage" id="server_manage">
        </div>
    </div>
{% else %}
    <div class="ugc_user">
        <div class="create_server_box">
            <a href="/ugc_server/create_server" class="create_server">创建新服务器</a>
        </div>
    </div>
{% endif %}
{% endblock body %}
<!-- 网页底部引入文件块 -->
{% block bottomfiles %}
    {% if request.user.is_authenticated %}
    <script type="text/javascript" src="{% static 'js/ugc_server.js' %}"></script>
    {% endif %}
{% endblock bottomfiles%}