{% extends 'base.html' %}
{% load static %}
{% block title %}北京第零世界科技有限公司{% endblock title %}

{% block body %}
<div class="body">
    <div class="head_nav">
        <ul>
            <li><a href="/ugc_home/ugc_index">首页</a></li>
            <li><a href="/ugc_mod/ugc_mod">MOD</a></li>
            <li><a href="/ugc_server/ugc_server">服务器</a></li>
        </ul>

    </div>
    <div class="user">
        <div class="nickname">
            <u>已获得</u>
        </div>
        <div class="score">
            我创建的
        </div>
    </div>
    <div class="show">

    </div>
</div>
{% endboloc body %}