{% extends 'ugc_base.html' %}
{% load static %}
{% block title %}北京第零世界科技有限公司{% endblock title %}
{% block topfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/ugc_server.css'%}">
{% endblock topfiles %}
{% block body %}
{% if request.user.is_authenticated %}
    <div class="create_server_con">
        <div class="create_server_box">
            <a href="/ugc_server/create_server" class="create_server">创建新服务器</a>
        </div>
    </div>
    <div class="ugc_box">
        <div class="server_manage" id="server_manage">
        </div>
        <button id="load_more" class="load_more">加载更多</button>
    </div>
{% else %}
    <div class="create_server_con">
        <div class="create_server_box">
            <a href="/ugc_server/create_server" class="create_server">创建新服务器</a>
        </div>
    </div>
    <div class="ugc_box">
        <div class="server_manage">
        </div>

    </div>
{% endif %}
{% endblock %}
<!-- 网页底部引入文件块 -->
{% block bottomfiles %}
    {% if request.user.is_authenticated %}
    <script type="text/javascript" src="{% static 'js/ugc_server.js' %}"></script>
    {% else %}
    <script>
        $("#ugc_server").addClass("active_button")
        $("#ugc_mod,#ugc_index").removeClass("active_button")
    </script>
    {% endif %}
{% endblock %}