{% extends 'base.html' %}
{% load static %}
{% block title %}北京第零世界科技有限公司{% endblock title %}

{% block body %}
<div class="body">
    <div class="head_nav">
        <ul>
            <li><a href="#">积分获得</a></li>
            <li><a href="#">￥购买</a></li>
        </ul>

    </div>
    <div class="user">
        <div class="detail">
            <u>详情</u>
        </div>
        <div class="comment">
            评论
        </div>
    </div>
    <div class="show">

    </div>
</div>
{% endblock body %}